h1{
    color:blue;
    font-size: 24px;   
}
h1:hover{
    color:red;
    font-size: 24px;   
}
h2{
    font-size: 20px;
    border-left:red solid 4px;
    border-bottom: red solid 4px;   
}
p{
    font-size: 16px;
    text-indent: 10px;   
}
.red{
    color:red;
}
a{
    color:red;
}
a:hover{
    color:blue;
}
.line-through{
    text-decoration: line-through;
}
img{
   height: 200px;
   border: 5px solid grey; 
}
img:hover{
   border: 5px solid pink; 
}